@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-arimo-sans);
    --font-mono: var(--font-arimo-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-button-inactive: var(--button-inactive);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --radius: 0.625rem;

    --background: oklch(98.463% 0.00181 249.248);
    --foreground: oklch(37.306% 0.03436 260.191);

    --card: oklch(1 0 0);
    --card-foreground: oklch(37.306% 0.03436 260.191);

    --popover: oklch(98.463% 0.00181 249.248);
    --popover-foreground: oklch(37.306% 0.03436 260.191);

    --primary: oklch(64.705% 0.08202 236.76);
    --primary-foreground: oklch(0.98 0 0);

    --secondary: oklch(41.384% 0.12463 271.936);
    --secondary-foreground: oklch(0.98 0 0);

    --muted: oklch(84.95% 0.03923 244.735);
    --muted-foreground: oklch(44.615% 0.02988 257.711);

    --accent: oklch(24.564% 0.10609 268.598);
    --accent-foreground: oklch(0.98 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(20.992% 0.03416 263.451);
    --input: oklch(20.992% 0.03416 263.451);
    --ring: oklch(64.705% 0.08202 236.76);

    --button-inactive: oklch(0.954 0.011 241);

    --chart-1: oklch(64.705% 0.08202 236.76);
    --chart-2: oklch(41.384% 0.12463 271.936);
    --chart-3: oklch(37.306% 0.03436 260.191);
    --chart-4: oklch(84.95% 0.03923 244.735);
    --chart-5: oklch(0.5 0.14 262);

    --sidebar: oklch(98.463% 0.00181 249.248);
    --sidebar-foreground: oklch(37.306% 0.03436 260.191);
    --sidebar-primary: oklch(64.705% 0.08202 236.76);
    --sidebar-primary-foreground: oklch(0.98 0 0);
    --sidebar-accent: oklch(84.95% 0.03923 244.735);
    --sidebar-accent-foreground: oklch(37.306% 0.03436 260.191);
    --sidebar-border: oklch(20.992% 0.03416 263.451);
    --sidebar-ring: oklch(64.705% 0.08202 236.76);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        @apply bg-background text-foreground;
    }
}
